body { 
    font-family: Arial, sans-serif; line-height: 1.6; margin: 0; padding: 0; background-color: #f4f4f9; color: #333; }

header { 
    background: #026c99; color: white; padding: 10px 0; text-align: center; }

section { 
    max-width: 800px; margin: 20px auto; padding: 20px; background: white; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }

h1, h2 { 
    color: #333; }
    
ul { 
    list-style: none; padding: 0; }
ul li { 
    margin: 5px 0; }
ul li a { 
    color: #026c99; text-decoration: none; font-weight: bold; }
ul li a:hover { 
    text-decoration: underline; }

footer { 
    text-align: center; padding: 10px; margin-top: 20px; background: #333; color: white; }

a { 
    break-after: avoid; margin: 40px; text-decoration: none; color: black;  display:inline;}
a:hover { 
    color:white; background-color: darkblue;}