/*============== Layers ==============*/



/*============== Variables ==============*/

:root {
    --color_1: #FF0000;
    --outline: 2px;
}

/*============== ID ==============*/

#baseid {
    font-size: 48px;
}

/*============== Classes ==============*/

.baseclass {
    font-family: Arial;
}

/*============== Tags ==============*/

h1 {
    background-color: var(--color_1);
    outline-color: black;
    outline-width: var(--outline);
    outline-style: solid;
}

p {
    background-color: green;
    outline-color: black;
    outline-width: 4px;
    outline-style: solid;
    cursor: grab;
}

nav>ul>li>ul {
    display:none;
}

nav>ul>li:hover>ul {
    display:block;
}

/*======================== CSS Tag Reference Sheet ========================
                           Created by Talfor

A
align-content | Aligns items.

B
background-color | Defines color behind item.

C
cursor | Allows you to change what your cursor looks like when hovering over said item.
column-count | How many columns a paragraph forms.
column-gap | How far each column is from one another.
column-rule | Special rules columns follow.

D
display | Allows special display features. Inline removes automatic enter and block padding. Block forces automatic enter.

E
--

F
font-family | Defines text font.
font-size | Defines text scale.
font-style | Defines special text parameters. Normal is normal.
font-weight | Defines text boldness. Often use numbers, but primarily uses "bold".
flex | Modifiers for alignment.
flex-direction | Defines how an adjusted screen interacts.
flex-grow | Defines scale ratio. Four items would mean that Flex-Grow of 2 would make the item half the screen, etc.
flex-wrap | Defines how an adjusted screen wraps.

G
--

H
--

I
--

J
justify-content | Special modifers to allow content to have special space or flex interactions.

K
--

L
line-height | Line margin.

M
margin | Defines margin scale. ALL SIDES.
margin-bottom | Defines margin scale, for the bottom side.
margin-left | Defines margin scale, for the left side.
margin-right | Defines margin scale, for the right side.
margin-top | Defines margin scale, for the top side.

N
--

O
outline-color | Defines outline color.
outline-style | Defines outline type.
outline-width | Defines outline scale.
order | In what order an item appears. Works for child elements.

P
padding

Q
--

R
--

S
--

T
text-align | Defines screen alignment (left, center, right)
text-decoration | Allows underline, overline, etc.

U
--

V
--

W
--

X
--

Y
--

Z
--

:
:active | Being Clicked
:focus | Keyboard Selected
:hover | Mouse Over
:link | Unvisted
:visited | Visited


======================== End of Reference Sheet ========================*/